@model ChallengeCSharp.Web.Models.DentistaViewModel

@{
    ViewData["Title"] = "Excluir Dentista";
}

<div class="container mt-4">
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <h5 class="mt-3">Tem certeza que deseja excluir o dentista abaixo?</h5>

    <dl class="row mt-4">
        <dt class="col-sm-2">Nome:</dt>
        <dd class="col-sm-10">@Model.Nome</dd>
    </dl>
    
    <dl class="row mt-4">
        <dt class="col-sm-2">Especialidade:</dt>
        <dd class="col-sm-10">@Model.Especialidade</dd>
    </dl>

    <dl class="row mt-4">
        <dt class="col-sm-2">CRO:</dt>
        <dd class="col-sm-10">@Model.CRO</dd>
    </dl>

    <dl class="row mt-4">
        <dt class="col-sm-2">Gênero:</dt>
        <dd class="col-sm-10">@Model.NomeGenero</dd>
    </dl>

    <dl class="row mt-4">
        <dt class="col-sm-2">Endereço:</dt>
        <dd class="col-sm-10">@Model.LogradouroEndereco</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="IdDentista" />
        <button type="submit" class="btn btn-danger">
            <i class="bi bi-trash"></i> Confirmar Exclusão
        </button>
        <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
    </form>
</div>